{% extends "project/base.html" %} {% block title %} Delete Post {% endblock title %} 
{% block content %}

<main class="container" style="max-width: 50rem;">
    <h1 class="mb-5 fs-3">
        <a href="{% url "blog:post_details" pk=post.id %}" title="Go Back" class="me-2"><i class="fa-solid fa-arrow-left"></i></a>
        Delete Post
    </h1>

    <form action="" method="post">
        {% csrf_token %}
        <p class="fs-5 italic">Are you sure you want to delete <strong>"{{ post.title }}"</strong>?</p>
        <button type="submit" class="btn btn-danger mt-5 w-100">Delete</button>
    </form>
</main>
{% endblock content %}