{% extends "project/base.html" %} {% block title %} Create {% endblock title %} 
{% block content %}
<h1>Create</h1>

<form action="" method="post">
    {% csrf_token %}

    <!-- TODO: Improve errors display -->
    {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                <li><strong>{{ field|title }}:</strong>{{ errors|join:", " }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ form.as_p }}
    <button type="submit">Create post</button>
</form>

<a href="{% url "blog:home" %}">Back to Home</a>

{% endblock content %}