{% extends "project/base.html" %}

{% block title %} Register {% endblock title %}

{% block content %}
<main class="container" style="max-width: 50rem;">
    <h1 class="mb-5 fs-3 text-primary">
        <a href="{{ request.GET.next|default:"blog:home" }}" title="Go Back" class="me-2"><i class="fa-solid fa-arrow-left"></i></a>
        Register
    </h1>

    <form action="" method="post" class="mb-4">
        {% csrf_token %}

        {% for field in form %}
            {{ field }}

            <!-- TODO: Use this approach to display fields errors -->
            {% comment %} {% if field.errors %}
                <div class="text-danger small">
                    {{ field.errors|join:", " }}
                </div>
            {% endif %} {% endcomment %}
        {% endfor %}

        <!-- Errors Start-->
        {% include "project/partials/form_errors.html" %}
        <!-- Errors End-->


        <button type="submit" class="btn btn-primary mt-5 w-100">Register</button>
    </form>
    <p class="text-center">Already have an account? Login <a href="{% url "users:user_login" %}">here</a></p>
</main>
{% endblock content %}